In [18]:
# Import needed libraries
import pandas as pd
import datetime as dt

In [3]:
# open dataset 1
dataset1 = pd.read_csv('../data/covid_vaccine_statewise.csv')

# view data head
dataset1.head()

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,AEFI,18-30 years (Age),30-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,251280.0

In [6]:
#more depth
dataset1.sample(100)

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,AEFI,18-30 years (Age),30-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
469,05/05/2021,Arunachal Pradesh,199517.0,12950.0,93.0,199517.0,62451.0,112188.0,87249.0,80.0,0.0,261968.0,260.0,15528.0,39505.0,103290.0,41166.0,261968.0
3301,18/03/2021,Puducherry,34800.0,7150.0,38.0,34800.0,4818.0,18906.0,15891.0,3.0,0.0,39618.0,11.0,3252.0,9385.0,11245.0,10889.0,39618.0
4279,05/04/2021,Uttarakhand,816359.0,145120.0,678.0,816359.0,147487.0,427701.0,388567.0,91.0,407.0,963439.0,260.0,19433.0,105425.0,262203.0,429126.0,963846.0
1496,13/03/2021,Haryana,392137.0,61990.0,473.0,289284.0,102853.0,234610.0,157511.0,16.0,72394.0,319724.0,NaN,NaN,NaN,NaN,NaN,392137.0
3756,21/02/2021,Tamil Nadu,256365.0,18094.0,1825.0,256365.0,14122.0,106459.0,149887.0,19.0,4421.0,251944.0,NaN,NaN,NaN,NaN,NaN,270487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,09/02/2021,Dadra and Nagar Haveli and Daman and Diu,2567.0,152.0,49.0,2567.0,0.0,1160.0,1407.0,0.0,0.0,2567.0,NaN,NaN,NaN,NaN,NaN,2567.0
3534,11/03/2021,Rajasthan,2089766.0,25650.0,97.0,1689250.0,400516.0,1193914.0,895591.0,261.0,220883.0,1868824.0,NaN,NaN,NaN,NaN,NaN,2089766.0
2461,18/03/2021,Madhya Pradesh,1630087.0,566859.0,2636.0,1630087.0,431895.0,900109.0,729842.0,136.0,203540.0,1858442.0,297.0,47341.0,366199.0,447586.0,768191.0,2061982.0
477,13/05/2021,Arunachal Pradesh,216168.0,14800.0,109.0,216168.0,77301.0,121595.0,94491.0,82.0,0.0,293469.0,263.0,17590.0,43814.0,111045.0,43687.0,293469.0
4347,12/02/2021,West Bengal,451987.0,13245.0,1008.0,451987.0,0.0,184971.0,266891.0,125.0,7600.0,444387.0,NaN,NaN,NaN,NaN,NaN,451987.0

In [7]:
# Get all columns
print(dataset1.columns)

Index(['Updated On', 'State', 'Total Individuals Vaccinated',
       'Total Sessions Conducted', 'Total Sites ', 'First Dose Administered',
       'Second Dose Administered', 'Male(Individuals Vaccinated)',
       'Female(Individuals Vaccinated)', 'Transgender(Individuals Vaccinated)',
       'Total Covaxin Administered', 'Total CoviShield Administered', 'AEFI',
       '18-30 years (Age)', '30-45 years (Age)', '45-60 years (Age)',
       '60+ years (Age)', 'Total Doses Administered'],
      dtype='object')

In [4]:
# open dataset 1
dataset2 = pd.read_csv('../data/covid_19_india.csv')

# view data head
dataset2.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [10]:
# Get all columns
print(dataset2.columns)

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

In [8]:
#more depth
dataset2.sample(100)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
735,736,2020-04-07,6:00 PM,Tripura,-,-,0,0,1
1756,1757,2020-05-09,8:00 AM,Maharashtra,-,-,3470,731,19063
5458,5459,2020-08-22,8:00 AM,Ladakh,-,-,1449,19,2133
3393,3394,2020-06-25,8:00 AM,Chhattisgarh,-,-,1627,12,2419
2988,2989,2020-06-13,8:00 AM,Uttar Pradesh,-,-,7609,365,12616
...,...,...,...,...,...,...,...,...,...
1510,1511,2020-05-02,5:00 PM,Andaman and Nicobar Islands,-,-,16,0,33
5109,5110,2020-08-12,8:00 AM,Madhya Pradesh,-,-,30596,1033,40734
1164,1165,2020-04-21,5:00 PM,Delhi,-,-,431,47,2081
12688,12689,2021-03-14,8:00 AM,Jharkhand,-,-,118959,1093,120567
7209,7210,2020-10-11,8:00 AM,Madhya Pradesh,-,-,127034,2599,145245

In [17]:
# Need to make sure the dates have values of 2021
#more depth
dataset2.tail(100)#reading from the end

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
14878,14879,2021-05-14,8:00 AM,Delhi,-,-,1274140,20618,1372475
14879,14880,2021-05-14,8:00 AM,Goa,-,-,95240,1937,130130
14880,14881,2021-05-14,8:00 AM,Gujarat,-,-,593666,8840,725353
14881,14882,2021-05-14,8:00 AM,Haryana,-,-,555650,6238,665028
14882,14883,2021-05-14,8:00 AM,Himachal Pradesh,-,-,108534,2131,150673
...,...,...,...,...,...,...,...,...,...
14973,14974,2021-05-16,8:00 AM,Telangana,-,-,469007,2928,525007
14974,14975,2021-05-16,8:00 AM,Tripura,-,-,35522,431,40816
14975,14976,2021-05-16,8:00 AM,Uttarakhand,-,-,198616,4623,283239
14976,14977,2021-05-16,8:00 AM,Uttar Pradesh,-,-,1414259,17238,1609140
14977,14978,2021-05-16,8:00 AM,West Bengal,-,-,969228,13137,1114313

In [22]:

# filter to rows with 2020 dates
dataset2_2020 = dataset2[pd.to_datetime(dataset2["Date"]).dt.year == 2020]

dataset2_2020.tail()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
10077,10078,2020-12-31,8:00 AM,Telengana,-,-,278839,1541,286354
10078,10079,2020-12-31,8:00 AM,Tripura,-,-,32751,385,33264
10079,10080,2020-12-31,8:00 AM,Uttarakhand,-,-,84149,1504,90616
10080,10081,2020-12-31,8:00 AM,Uttar Pradesh,-,-,562459,8352,584966
10081,10082,2020-12-31,8:00 AM,West Bengal,-,-,528829,9683,550893

In [27]:
# monthly filter
dataset2_2020_1 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 1]
dataset2_2020_2 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 2]
dataset2_2020_3 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 3]
dataset2_2020_4 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 4]
dataset2_2020_5 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 5]
dataset2_2020_6 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 6]
dataset2_2020_7 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 7]
dataset2_2020_8 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 8]
dataset2_2020_9 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 9]
dataset2_2020_10 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 10]
dataset2_2020_11 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 11]
dataset2_2020_12 = dataset2_2020[pd.to_datetime(dataset2_2020["Date"]).dt.month == 12]

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1

In [39]:
# month-wise Total covid confirmed cases for all States/UT
t_01_2020 = dataset2_2020_1['ConfirmedIndianNational'].describe().count() + dataset2_2020_1['ConfirmedForeignNational'].describe().count()
t_02_2020 = dataset2_2020_2['ConfirmedIndianNational'].describe().count() + dataset2_2020_2['ConfirmedForeignNational'].describe().count()
t_03_2020 = dataset2_2020_3['ConfirmedIndianNational'].describe().count() + dataset2_2020_3['ConfirmedForeignNational'].describe().count()
t_04_2020 = dataset2_2020_4['ConfirmedIndianNational'].describe().count() + dataset2_2020_4['ConfirmedForeignNational'].describe().count()
t_05_2020 = dataset2_2020_5['ConfirmedIndianNational'].describe().count() + dataset2_2020_5['ConfirmedForeignNational'].describe().count()
t_06_2020 = dataset2_2020_6['ConfirmedIndianNational'].describe().count() + dataset2_2020_6['ConfirmedForeignNational'].describe().count()
t_07_2020 = dataset2_2020_7['ConfirmedIndianNational'].describe().count() + dataset2_2020_7['ConfirmedForeignNational'].describe().count()
t_08_2020 = dataset2_2020_8['ConfirmedIndianNational'].describe().count() + dataset2_2020_8['ConfirmedForeignNational'].describe().count()
t_09_2020 = dataset2_2020_9['ConfirmedIndianNational'].describe().count() + dataset2_2020_9['ConfirmedForeignNational'].describe().count()
t_10_2020 = dataset2_2020_10['ConfirmedIndianNational'].describe().count() + dataset2_2020_10['ConfirmedForeignNational'].describe().count()
t_11_2020 = dataset2_2020_11['ConfirmedIndianNational'].describe().count() + dataset2_2020_11['ConfirmedForeignNational'].describe().count()
t_12_2020 = dataset2_2020_12['ConfirmedIndianNational'].describe().count() + dataset2_2020_12['ConfirmedForeignNational'].describe().count()

In [71]:
# Total death cases in each States/UT and full country in the year 2020
dfs = dict(tuple(dataset2_2020.groupby('State/UnionTerritory')))

In [86]:
# which date has the highest covid cases in the country in the year 2020 & 2021
worst_date = dataset2[dataset2['Confirmed']==dataset2['Confirmed'].max()]["Date"]
print(worst_date)

14962    2021-05-16
Name: Date, dtype: object

In [52]:
# filter to rows with 2021 dates
dataset2_2021 = dataset2[pd.to_datetime(dataset2["Date"]).dt.year == 2021]
dataset2_2021.tail()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
14973,14974,2021-05-16,8:00 AM,Telangana,-,-,469007,2928,525007
14974,14975,2021-05-16,8:00 AM,Tripura,-,-,35522,431,40816
14975,14976,2021-05-16,8:00 AM,Uttarakhand,-,-,198616,4623,283239
14976,14977,2021-05-16,8:00 AM,Uttar Pradesh,-,-,1414259,17238,1609140
14977,14978,2021-05-16,8:00 AM,West Bengal,-,-,969228,13137,1114313

In [59]:
# monthly filter
dataset2_2021_1 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 1]
dataset2_2021_2 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 2]
dataset2_2021_3 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 3]
dataset2_2021_4 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 4]
dataset2_2021_5 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 5]
dataset2_2021_6 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 6]
dataset2_2021_7 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 7]
dataset2_2021_8 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 8]
dataset2_2021_9 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 9]
dataset2_2021_10 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 10]
dataset2_2021_11 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 11]
dataset2_2021_12 = dataset2_2021[pd.to_datetime(dataset2_2021["Date"]).dt.month == 12]

In [63]:
# April 2020 stats
dataset2_2020_4.describe()

               Sno        Cured      Deaths    Confirmed
count   949.000000   949.000000  949.000000   949.000000
mean   1004.000000    79.497366   13.983140   445.144362
std     274.097002   185.234636   41.878236   978.586487
min     530.000000     0.000000    0.000000     0.000000
25%     767.000000     1.000000    0.000000    11.000000
50%    1004.000000    14.000000    1.000000    61.000000
75%    1241.000000    55.000000    9.000000   411.000000
max    1478.000000  1593.000000  432.000000  9915.000000

In [64]:
# April 2021 stats
dataset2_2021_4.describe()

               Sno         Cured        Deaths     Confirmed
count   1080.00000  1.080000e+03   1080.000000  1.080000e+03
mean   13862.50000  3.564724e+05   4944.720370  4.080191e+05
std      311.91345  5.539490e+05  10142.932525  6.593999e+05
min    13323.00000  6.800000e+02      1.000000  7.230000e+02
25%    13592.75000  2.204775e+04    322.750000  2.488450e+04
50%    13862.50000  1.890335e+05   1749.000000  2.185015e+05
75%    14132.25000  3.776910e+05   5310.000000  4.966818e+05
max    14402.00000  3.799266e+06  67985.000000  4.539553e+06

In [68]:
# Average Covid cases for all States/UT for the month April, in 2020 & 2021
avg_04_2020_2021 = (dataset2_2021_4.describe().mean()['Confirmed'] + dataset2_2021_4.describe().mean()['Confirmed'])/ 2

In [70]:
# month-wise total number of male vaccinated in every States/UT, 
t_male_01 = dataset1_2021_1['Male(Individuals Vaccinated)'].describe().total()
print(t_male_01)

NameError: name 'dataset1_2021_1' is not defined

In [ ]:
# along with the covid cases, month-wise for the respective States/UT in the year of 2021

In [78]:
# Organise results data
results = {
    'Date of Highest Cases': worst_date,
    'Average Covid Cases April': avg_04_2020_2021
}

# Create results dataframe
results_data = pd.DataFrame(results, columns= ['Date of Highest Cases', 'Average Covid Cases April'])
results_data.dropna()

      Date of Highest Cases  Average Covid Cases April
14962            2021-05-16              793605.344241

In [79]:
# write results to output csv
results_data.to_csv('../data/results_output.csv')